<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function() {
            let socket = io.connect("http://localhost:5000")
            socket.on('connect', function() {
                socket.send('user connected');
            });

            socket.on('meesage', function(data) {
                $('#messages').append($('<p>').text(data));
            });

            $('#sendBtn').on('click', function() {
                socket.send($('#userName').val() + ':' + $('#message').val());
                $('#message').val('');
            })
        })
    </script>

    <div id="messages"></div>
    <input type="text" id="userName" placeholder="userName" />
    <input type="text" id="message" placeholder="Message" />
    <button id="sendBtn" >send</button>
</body>
</html>